@import url("reset.css");
@import url("font.css");


body {
background-color: #FFF;
color:#000;
font-size: 14px;
font-family: Verdana, Arial, sans-serif;
}

form div{
  background-color: #salmon;
  width: 600px;
  padding: 20px;
}
